
/* FONTS */
$f-book: 'DMSans18pt-Medium', sans-serif;
$f-bold: 'DMSans18pt-Bold', sans-serif;
$f-semi: 'DMSans18pt-SemiBold', sans-serif;
$f-mono: 'DMMono-Medium', sans-serif;


/* COLORS */
$c-base:  #ffffff;
$c-font:  #111111;

$c-black: #000000;
$c-white: #ffffff;
$c-off:   #F7F4EE;
$c-light: #DBEEE6;
$c-aqua:  #61B5AC;
$c-deep:  #2D4E5D;


/* BREAKS */
$b-xl:    1440px;
$b-lg:    1280px;
$b-md:    1080px;
$b-sm:     900px;
$b-xs:     720px;
$b-xs-xxs: 635px;
$b-xxs:    550px;
$b-xxxs:   370px;

/* W&H */
$w-wrap: 1440px;