
@font-face {
	font-family: "DMMono-Medium";
	src: url('../webfont/DMMono-Medium.woff2') format('woff2'),
		 url('../webfont/DMMono-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "DMSans18pt-Bold";
	src: url('../webfont/DMSans18pt-Bold.woff2') format('woff2'),
		 url('../webfont/DMSans18pt-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "DMSans18pt-Medium";
	src: url('../webfont/DMSans18pt-Medium.woff2') format('woff2'),
		 url('../webfont/DMSans18pt-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "DMSans18pt-SemiBold";
	src: url('../webfont/DMSans18pt-SemiBold.woff2') format('woff2'),
		 url('../webfont/DMSans18pt-SemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}
